
@model IEnumerable<WebApplication2.Models.Movies>


@{
    ViewBag.Title = "Movies";
}
<h2>Movies</h2>
@{
    if (!Model.Any())
    {
        <p>There are no movies yet</p>
    }
    else
    {
        <table class=" table table-striped table-bordered table-hover">
            <tr>
                <th>Movie Name</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>No. in Stock</th>
                <th>Date Added</th>
                <th>Edit</th>
            </tr>

            @foreach (var movie in @Model)
            {
                var movieId = movie.Id;
                var movieName = movie.Name;
                var movieGenre = movie.MovieGenre.Name;
                var movieReleaseDate = movie.ReleaseDate.ToShortDateString();
                var movieNoInStock = movie.NumberInStock;
                var movieDateAdded = movie.DateAdded.ToShortDateString();


                <tr>
                    <td>@Html.ActionLink(movieName, "Details", "Movies", new { id = movieId }, null)</td>
                    <td>@movieGenre</td>
                    <td>@movieReleaseDate</td>
                    <td>@movieNoInStock</td>
                    <td>@movieDateAdded</td>
                    <td>@Html.ActionLink("Edit", "EditMovie", "Movies", new { id = movieId }, null)</td>
                </tr>
            }

        </table>

    }
}


